//- filepath: /sites/default/files/uploads/privacy/filename.filetype

//- HTML character codes:
	//- ampersand           : &#38;
	//- for Kooding glyphs, refer to _standardize.scss file

doctype html
html(lang="en")
	head
		title km.com/privacy
		// START of local webserver CSS resources
		link(rel="icon", type="image/png", href="http://localhost:4000/public/icons/koodo-blueberry-favicon-196-196.png")
		link(rel="stylesheet" href="http://localhost:4000/public/font-stag-sans-web/stag-sans-web.css")
		link(rel="stylesheet" href="http://localhost:4000/public/font-kooding-glyphs/kooding-glyphs.css")
		link(rel="stylesheet" href="http://localhost:4000/public/styles/page-title-helper.css")
		link(rel="stylesheet" href="http://localhost:4000/public/styles/window-dimensions-helper.css")
		// END of local webserver CSS resources
		link(rel="stylesheet" href="styles/main.css")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		style.
			/* project-specific styles go here */
			body { margin: 0; }

			#site-container { max-width: 1160px; margin: 0 auto; }
	body
		div#site-wrapper.page-content <!-- markup to mirror production page structure -->
			div#ptHelper <!-- markup to mirror production page structure -->
				h2 Our privacy commitment to you
			div#site-container <!-- markup to mirror production page structure -->
				div#site-content <!-- markup to mirror production page structure -->
					div.content <!-- markup to mirror production page structure -->
						main.km-privacy.lang-en(role="main")
							section.banner
								div.inner-container
									p Our updated Privacy Commitment will be in effect on May 1, 2017.
									p A copy of our current Privacy Commitment can be found #[a(href="/sites/default/files/uploads/privacy/koodo-privacy-policy-en-2015.06.01.pdf", target="_blank", rel="noopener noreferrer") here].

							section.updates-whats-new
								ul.accordion-items
									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 Updates to our Privacy Commitment: What's New?
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p As part of our ongoing commitment to customer privacy, we have made updates to our Privacy Commitment.
											p Here are the highlights:
											ol
												li We have not changed the five purposes for which we collect and use your personal information. These remain the foundation of our privacy policies and practices.
												li We have updated and changed the format of our Commitment to allow you to select the amount of detail you wish to review about our privacy practices at any time, simply by clicking.
												li We have included additional everyday examples of what information we collect and how we use it to make our Commitment more relevant to you.
												li We have removed the section from our Commitment that was titled "How does Koodo protect my privacy", and replaced it with a more detailed section called "Some of the ways we respect your privacy." This new section includes information about our commitment to Privacy by Design, the steps we take to protect your privacy, including by de-identifying your personal information, and our Data &#38; Trust Office, which is dedicated to protecting your privacy and earning and maintaining your trust in our data-handling practices.
												li We have also updated our FAQs to include questions and feedback we have heard from our customers, and to provide you with more detail about certain data-handling practices.


							section.inner-container
								p At Koodo, we respect our customers' privacy and take great care to safeguard personal information. As part of our ongoing commitment to putting customers first, we have a long-standing policy of protecting privacy in all of our business operations.#[sup #[a(href="#nitty-gritty-1") 1]] We believe that an important part of protecting privacy is to be clear about how we handle customers' personal information, and to make information about our approach easily accessible. While our Privacy Code sets out the general principles that govern the collection, use and disclosure of our customers' personal information#[sup #[a(href="#nitty-gritty-2") 2]], we have also developed this Privacy Commitment to provide you with more specific details about our privacy practices.#[sup #[a(href="#nitty-gritty-3") 3]]
								p Koodo is part of the TELUS family, and is subject to the TELUS Privacy Commitment and Code. To learn more about TELUS' privacy practices, please visit #[a(href="https://telus.com/privacy", target="_blank", rel="noopener noreferrer") telus.com/privacy]. Also available, and applicable to Koodo, is the #[a(href="https://sustainability.telus.com/en/business-operations/transparency-report", target="_blank", rel="noopener noreferrer") Transparency Disclosure] within the #[a(href="http://sustainability.telus.com/en", target="_blank", rel="noopener noreferrer") TELUS Sustainability Report].
								p We have learned from our customers that sometimes you just want the big picture, while other times you may want more details or examples of how a policy or process works. For this reason, we have structured this Privacy Commitment in layers. Importantly, both our Privacy Code and Privacy Commitment reflect the requirements of Canada's applicable privacy legislation, including the #[em Personal Information Protection and Electronic Documents Act], applicable CRTC privacy regulations, and our own continuing commitment to customer privacy. The bottom line is that we want you to understand the purposes for which we collect, use and disclose personal information about our customers. The following is a summary of our privacy practices.

							section
								div.inner-container
									h3 Why we collect personal information
									p If you are a Koodo customer, Koodo collects certain information about you. We respect your privacy, which is why we collect personal information only for the following purposes:

								ul.accordion-items
									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 To establish and maintain a responsible commercial relationship with you and to provide ongoing service.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p Here are some examples of what we mean by this:
											p When you apply for a service, we generally set up an account and collect information such as name, address, date of birth, preferred language, Koodo account number(s), any other authorized users, unique account security PIN(s) and email address.
											ul
												li In order to confirm your identity and/or conduct a credit check, we may also ask for acceptable identification or identifying information.
												li We also collect and use some personal information to confirm your identity when you contact us. For example, when you call us, we will ask to confirm some personal information to verify it's actually you and not someone trying to access your account without authorization.
												li For billing purposes, we collect records of the services you use, such as telephone numbers, times, dates, and durations of incoming and outgoing calls. We also collect payment information to set up pre-authorized payments if you choose to do so.
												li To assist you in understanding your bill, we also collect information about how the services or apps used on any of the devices on your account contribute to data usage.

									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 To understand your needs and preferences.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p Here are some examples of what we mean by this:
											ul
												li We maintain a record of the products and services you receive from us, and we may collect additional information about the usage levels and patterns associated with those products and services.
												li Some of the data we collect or use for this purpose includes your wireless device information, such as telephone number, SIM card number, operating system, network type, manufacturer, model and make, and IMEI serial number.
												li We may also collect additional information so that we can better meet your needs and preferences, including details of the products and services you receive from us, such as your wireless device rate plan.
												li We may collect or infer information about you or your preferences for particular products, services or lifestyle activities from information you provide us about yourself when you tell us your preferences, or when your usage activities indicate what your preferences are.

									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 To develop, enhance, market or provide products and services.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p Here are some examples of what we mean by this:
											ul
												li From time to time, we may review and analyze your use of our products and services to help us provide better product recommendations and special offers that we think will interest you.
												li We may examine your wireless calling patterns in order to recommend a new monthly plan that saves you money. 
												li We may analyze your use of our products and services to better understand your preferences, and to help us develop or enhance our products and services. This may include analysis of location data to provide relevant, new or enhanced products and services. For example, if you are roaming outside of the Koodo network with your wireless device, we may offer you a roaming package. 
												li We might recommend a new service or one of our apps that we think you'll enjoy based on your existing services with us or the apps you use.
											p We note that our customers who do not wish to receive these types of recommendations or offers may choose to be removed from our marketing lists at any time.

									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 To manage and develop our business and operations.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p Here are some examples of what we mean by this:
											ul
												li We may collect personal information to help us manage our day-to-day operations efficiently, and to manage our infrastructure, including securing it and planning for future growth.
												ul
													li We analyze how many customers use our wireless sites at what times of the day to help us plan new infrastructure. We also look at records associated with text and multimedia messages - which includes the date and time of sent and received messages, but not the content itself, as well as the associated phone numbers and cell towers. 
													li We similarly analyze records associated with calls made on our cellular network, including location data (i.e., locations of the cell towers that handled the communications). This also helps us plan for future infrastructure investment.
												li We may look at usage data on our high-speed Internet network to help us improve reliability and stability. We collect and use IP addresses and port numbers that our customers are assigned, have connected to, or attempted to connect to. This allows us to continue offering Internet connectivity.
												li We may use video surveillance to monitor and/or record the activity that occurs around our stores, premises or infrastructure, including wireless sites. We may also use unmanned air vehicles (drones) to inspect our remote wireless or network sites (i.e., cell towers). This information is used to maintain our networks, or for security and investigation purposes to protect us from theft, vandalism or damage to our property. 
												li We monitor activity on our networks to detect and prevent fraud to protect both our customers and our business.
												li We record interactions, such as telephone calls or chats, to or from our service representatives for quality assurance and training purposes; our systems may also conduct real-time analytics on such interactions to identify trends and patterns to help us serve you better.
												li We collect information about visits to our websites (such as #[a(href="https://koodomobile.com") www.koodomobile.com]) to optimize our web properties, and for security purposes.

									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 To meet legal and regulatory requirements.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p Here are some examples of what we mean by this:
											ul
												li We may collect or preserve information in response to a court order, which may include collecting your wireless device location for specific purposes. 
												li For example, when you dial 911 and we provide GPS and triangulation data to the 911 operations centre. 
												li There is certain information that we are required to collect, use and disclose as a regulated telecommunications company.  For example, if a customer dials 911, we provide the customer's name, telephone number, and location information to the emergency agency. Another example would be to satisfy a request for information from the Canadian Radio-Television and Telecommunications Commission (CRTC) about a customer complaint and how it was resolved.
												li We need to collect certain information to comply with statutory obligations, including our tax reporting obligations.

							section
								div.inner-container
									h3 When we share personal information
									p We take great care with what information we share, and why. There are circumstances where we share some personal information about our customers:

								ul.accordion-items
									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 To facilitate and improve the provision of products and services to you.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p Here are examples of what we mean by this. We may share personal information with:
											ul
												li a person seeking information as an agent of a customer, such as a customer's legal representative, or as an authorized user under his or her account, if we are satisfied that the person is authorized to receive the information;
												li other TELUS business units to help us serve our customers better and to provide them with services from different parts of our company;
												li another telecommunications company for the efficient and cost-effective provision of telecommunications services, such as the information required to facilitate the porting of services between carriers; for example, this type of sharing may take place when you are roaming outside our networks;
												li a company involved in supplying a customer with telecommunications or directory related services; for example, Yellow or White Page listings, when your residential telephone number is published in the directory.

									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 To enable our service providers and partners to help us serve you better.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p We may share information with our suppliers, agents or other organizations or individuals contracted to us to perform services or functions on our behalf where they require the information to assist us in serving you. We strive to minimize the amount of personal information that we share with our service providers and partners; we share the information reasonably necessary to achieve the stated purpose, and require that it only be used to achieve that stated purpose.
											p Examples of what we mean by service providers or partners include organizations that:
											ul
												li Conduct research on our behalf, such as customer satisfaction surveys;
												li Perform data processing on our behalf, such as printing customer statements;
												li Administer special programs with us, such as a rewards program.

									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 For credit-related purposes.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p We may share personal information with credit bureaus:
											ul
												li to evaluate a customer's creditworthiness
												li for the purposes of monthly reporting on the status of your payment history with Koodo
											p We may also share your personal information with collection agencies to collect an account if your account has been referred for collection.

									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 For emergency purposes.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p We may share information with a public authority or agent of a public authority if, in the reasonable judgment of Koodo, it appears that there is imminent danger to the life, health or security of an individual which could be avoided or minimized by disclosure of the information.

									li.accordion-item
										button.ai-summary
											div.ai-container
												h4 Where required by law or applicable regulation.
												span.kooding-glyph.circular-arrow-down
										div.ai-details
											p We share customer personal information with law enforcement or other government agencies if we are required to do so to meet legal and regulatory requirements; for example, if we are required to provide records to law enforcement in response to a valid court order.
											p Personal information collected by Koodo may be stored and processed in Canada or another country. In either case, the information is protected with appropriate security safeguards, but may be available to foreign government agencies under applicable law. When we do transfer data outside the country, we strive to minimize the amount of personal information that we transfer, using de-identification or other means where appropriate.
											p You should also note that while roaming outside of Canada, the storage, treatment and transfer of your personal information and data may be subject to laws or regulations different from those in Canada.

							section.inner-container
								h3 Some of the ways we respect your privacy
								ul
									li We have appointed a Chief Data &#38; Trust Officer to oversee our Data &#38; Trust Office. The Office is responsible for maintaining an accountable privacy management program specifically designed to protect your privacy, and for setting policies and procedures to earn and maintain your trust in our data handling practices.
									li We have embraced the seven foundational principles of Privacy by Design, striving to embed these privacy enhancing principles into all of our product and service development processes.
									li We maintain a robust information security governance program to protect your personal information with appropriate security safeguards. Our safeguards include administrative, physical and technical security controls. We protect the privacy of your personal information through contractual and other means when we are working with other companies.
									li We may de-identify personal information for a variety of reasons, including to safeguard it, or where de-identified information will serve the purposes for retaining the information. For example, we may de-identify certain network usage or location data for long term planning where individual customers' personal information is not required. We may also de-identify information prior to conducting analytics that don't require personal information.
									li We strive to keep your personal information as accurate and up-to-date as is reasonably necessary for the purposes we identify.
									li We respond in a timely manner to your requests for access to your personal information.
									li We take privacy and security training and awareness seriously, and we use a variety of different methods to assist our Koodo team members in respecting and protecting your privacy.
									li Unless you provide your express consent, we do not disclose your personal information to marketers of third-party products to enable targeted advertising, or for any other purpose.
									li We have a team dedicated to responding to your privacy inquiries or concerns. For more information, please refer to Frequently Asked Questions (FAQs).
									li We are committed to being transparent with you about how we handle your personal information, including through this policy, our Privacy Code, our privacy page at #[a(href="https://telus.com/privacy", target="_blank", rel="noopener noreferrer") telus.com/privacy], and our annual Transparency reporting.
									li We use cookies, in a limited manner and for purposes consistent with this Commitment. For more information, please refer to our Cookies Notice.
									li Privacy legislation generally sets out certain circumstances under which organizations may collect, use or disclose personal information without consent.  Examples include emergency circumstances or the investigation of a contravention of laws. Other than under such specified circumstances, Koodo will not collect, use or disclose your personal information for any purpose other than those identified in this Commitment, our Privacy Code, your Customer Service Agreement, or our Service Terms, except with your consent.
									li We will continue to review this Commitment to ensure it is relevant, remains current with changing technologies and laws, and continues to meet your evolving needs.

							section.inner-container
								h3 Choices we offer you
								p We rely on your consent to continue to collect, use and disclose your personal information for the purposes we have identified to you. However, we want you to know that you do have choices and can refuse or withdraw your consent as follows:
								ul
									li You may have your name removed from one or more of our marketing lists, such as our telephone, mail or email marketing lists. We use these lists to inform you of relevant products, services and special offers that may be of benefit to you.
									li Our directory publisher (i.e. Yellow Pages Group) makes available lists of published names, addresses and phone numbers to selected organizations for a fee. You may choose to be excluded from these lists (non-published names, addresses and phone numbers are automatically excluded).
									li You may refuse to provide personal information to us. You may also withdraw your consent at any time, subject to legal or contractual restrictions and reasonable notice. However, in either case, this may limit our ability to serve you and may force us to cancel some or all of the services you receive from us.
									li For further information about the above options, please contact us at #[a(href="tel:18555256636") 1-855-525-6636].
								p Our mobility subscribers may also opt-out of including location information in de-identified form where the information or insights are intended to be disclosed to third parties to assist in research, planning, or product and service development, except where such sharing is required by law. For more information about this visit #[a(href="https://telus.com/privacy", target="_blank", rel="noopener noreferrer") telus.com/privacy] and click on Data Analytics at TELUS.
								p Unless you tell us otherwise, we will assume that we have your consent to continue to collect, use and disclose your personal information for the purposes we have identified to you.

							section.inner-container
								h3 Questions?
								p We want you to be comfortable with how we protect your privacy. If you have questions that are not addressed in this Commitment or our Privacy Code, please refer to our #[a(href="/sites/default/files/uploads/privacy/telus-privacy-faq-en.pdf", target="_blank", rel="noopener noreferrer") Frequently Asked Questions]; you can also #[a(href="mailto:privacy@koodomobile.com") contact us] for further information.

								p Effective May 1, 2017.

							ul.accordion-items
								li#nitty-gritty.nitty-gritty.accordion-item
									button.ai-summary
										div.ai-container
											h4#nitty-gritty Nitty Gritty (footnotes)
											span.kooding-glyph.circular-arrow-down
									div.ai-details
										ol
											li#nitty-gritty-1 In this Privacy Commitment, the words "Koodo", "we", "us", and "our" refer to Koodo, a registered business name of TELUS Corporation, as well as to TELUS Corporation and its subsidiary companies, as they may exist from time to time, including those subsidiaries or divisions that carry on business under the names TELUS, TELUS Communications Company, TELUS Mobility, TELUS Quebec, Koodo, Public Mobile and PC Mobile, but not including TELUS Health. The words "we" and "TELUS" do not include independent dealers and distributors of TELUS products and services.
											li#nitty-gritty-2 The TELUS Privacy Code and Commitment and this Commitment do not limit the collection, use or disclosure by Koodo of information that is publicly available. This includes: (a) a customer's name, address, telephone number, and email address, when listed in a directory or available through directory assistance; and (b) other information about the customer that is publicly available and is specified by regulation pursuant to the Personal Information Protection and Electronic Documents Act or other applicable legislation. The TELUS Privacy Code and the privacy practices described in this Commitment are subject to the provisions of all applicable legislation and regulations.
											li#nitty-gritty-3 The definitions set out in the TELUS Privacy Code apply to this Commitment.
						<!-- /.km-privacy.lang-en -->
					<!-- /.content -->
				<!-- /#site-content -->
			<!-- /#site-container -->
		<!-- /#site-wrapper.page-content -->
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.1.2/jquery.smooth-scroll.min.js")
		// START of local webserver JS resources
		script(src="http://localhost:4000/public/scripts/page-title-helper.js")
		script(src="http://localhost:4000/public/scripts/window-dimensions-helper.js")
		// END of local webserver JS resources
		script(src="scripts/main.js")