@import "colors";
@import "fonts";
@import "standardize";
@import "override";

// styling for main parent element and its child elements
.km-privacy {
	padding: 20px 0;

	// text elements
	h3 { // page subheadings
		padding: 35px 0 5px 0;
		margin: 0;
		color: black;
		@extend .stag-sans-bold-web;
		font-size: 24px;
	}

	h4 { // expandable/collapsible headings
		padding: 0 15px 0 0;
		margin: 0;
		color: $kDarkBlue;
		@extend .stag-sans-semibold-web;
		font-size: 18px;
	}

	p { padding: 10px 0; }

	// list elements
	ol, ul {
		padding-left: 20px;
		margin: 0;

		li { padding: 5px 0; }
	}

	.banner {
		padding: 20px 0;
		margin-bottom: 15px;
		background-color: $kActiveGrey;
		text-align: center;

		p {
			padding: 0 0 15px 0;
			font-size: 18px;
			&:last-of-type { padding: 0; }
		}
	}

	.updates-whats-new ol {
		padding-bottom: 10px;
		border-bottom: 2px solid $kDarkGrey; // separator line that is visible when this accordion-item is expanded
	}

	.nitty-gritty ol { padding: 10px 0 10px 20px; }
}

// styles for custom accordion element
ul.accordion-items {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li.accordion-item { background: none; } // override image of custom bullet arrow
}

// START - elements nested inside ul.accordion-items > li.accordion-item
	.ai-summary { // <button> summary
		width: 100%;
		padding: 10px 20px;
		border: none;
		background-color: $kTiffanyBlue;
		cursor: pointer;
		text-align: left;

		&.expanded { // class toggled on <button> click
			.circular-arrow-down { transform: rotate(180deg); } // rotate nested <span>
			~ .ai-details { max-height: 2000px; } // expand max-height on sibling <div>
		}

		&:focus, &:hover { background-color: $kTiffanyBlueHover; }
	}

		.ai-container {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.circular-arrow-down { // kooding arrow
				color: $kDarkBlue;
				font-size: 14px;
				position: relative;
				z-index: 10;
				
				// enable background-color fill on this element
				&:after { @extend .background-fill; }
			}

			.background-fill {
				content: "";
				border-radius: 50%;
				margin: 1px;
				background-color: white;
				position: absolute;
				z-index: -10;
				top: 3px;
				right: 3px;
				bottom: 3px;
				left: 3px;
			}
		}

	.ai-details { // <div> details
		height: 100%;
		max-height: 0;
		padding: 0 20px;
		overflow: hidden;
		transition: max-height 0.5s ease-in-out;
	}
// END

@import "media-query";